{% extends 'layout.html' %}
{% block title %} Portfolio {% endblock %}


{% block main %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Current Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
      {% for i in stocks %}
          <tr>
              <td>{{i['symbol']}}</td>
              <td>{{i['stock']}}</td>
              <td>{{i['amount']}}</td>
              <td>{{ ((i['symbol'] | lookup ) ['price']) }}</td>
              <td>{{( ( (i['symbol'] | lookup)  ['price']) * i['amount'] )| usd }}</td>
          </tr>
      {% endfor %}
      <tr>
          <td>CASH</td>
          {% for i in range(3) %}
          <td></td>
          {% endfor %}
          <td>{{cash|usd}}</td>
      </tr>
      <tr>
          {%for i in range(4)%}
              <td></td>
          {%endfor%}
          <td>{{total|usd}}</td>
      </tr>
  </tbody>
</table>


{% endblock %}